:root{
  --mainDark: #000000;
  --mainWhite: #fff;
  --mainBlue: #E3F2F3;
}

body{
  background: var(--mainWhite);
  font-family: 'Cardo', serif;
}

a{
  color: var(--mainDark);
}

a:hover{
  color: var(--mainDark);
  text-decoration: none;
}

.container{
  text-align: center;
}
